[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "*"
djoser = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = {extras = ["socialaccount"] }
python-decouple = "*"
psycopg2-binary = "*"
django = "*"
channels = {extras = ["daphne"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
